<!DOCTYPE html>
<html lang="fr" class="no-js">
<head>
    {% include 'includes/head.html' %}
</head>
<body>
    {% include 'includes/header.html' %}

    <section id="content">
        <div class="inner">
            {# front page :  check the title of the content root index.md #}
            {% if meta.title == 'Blog' %}
                {# Require Paginator plugin #}
                {% for page in paginator.pages[paginator.offset] %}
                    <article class="post">
                        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
                        <p class="meta clearfix">
                            <span class="date_lsp">
                                le {{ page.meta.date|date(config.date_format) }} {% if page.meta.category %}dans {{ page.meta.category }} {% endif %}
                            </span>
                            <span class="tags_lsp">
                                {% if page.meta.tags_array %}<i class="fa fa-tags"></i>{% for tag in page.meta.tags_array %}<a class="hvr_over" href="{{ base_url }}/tag/{{ tag }}">#{{ tag }}</a>{% endfor %}{% endif %} 
                            </span>
                        </p>
                        <p class="excerpt">{{ page.content|striptags|limit_words }}</p>
                    </article>
                {% endfor %}
                {# Pagination / Require Paginator plugin #}
                <div class="pagination clearfix">
                    <ul>
                        <li {{ paginator.prev is empty ? 'class="noprevnext"' : '' }}>
                            <a id="prev_page_link" title="Plus récents" href="{{ paginator.prev }}">
                                <i class="fa fa-clock-o"></i><i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                            
                        {% for i in 0..paginator.pages|length -1 %}
                            {% if i == paginator.offset %}
                                <li class="pi pi_a"><a href="/?page={{ i }}" class="page_item page_active"><i class="fa fa-clock-o"></i><span>{{ i }}</span></a></li>
                            {% else %}
                                <li class="pi"><a href="/?page={{ i }}" class="page_item">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        <li {{ paginator.next is empty ? 'class="noprevnext"' : '' }}><a id="next_page_link" title="Plus anciens" href="{{ paginator.next }}"><i class="fa fa-angle-left"></i><i class="fa fa-clock-o"></i></a></li>
                    </ul>
                    
                </div>
            {# END frontpage #}
            {# Error 404 page #}
            {% elseif meta.title == "Error 404" %}
                <article>
                    {{ content }}
                </article>
            {# END Error 404 page #}
            {# blog posts #}
            {% else %}
                <article>
                    <h1>{{ meta.title }} </h1>
                    <p class="meta clearfix">
                        <span class="date_lsp">
                            {% if meta.date %}le {{ meta.date|date(config.date_format) }}{% endif %} {% if meta.category %}dans {{ meta.category }} {% endif %}
                        </span>
                        <span class="tags_lsp">
                            {% if meta.tags_array %}<i class="fa fa-tags"></i>{% for tag in meta.tags_array %}<a class="hvr_over" href="{{ base_url }}/tag/{{ tag }}">#{{ tag }}</a>{% endfor %}{% endif %}         
                        </span>
                    </p>
                    <div class="article">
                        {{ content }}
                    </div>  

                    {# Pagination for articles/blog posts #}
                
                    <div class="pagination_article">
                    {% if current_page.nextPage %}
                        <a href="/{{ current_page.nextPage.url }}" class="pa_recent">
                            <div class="pa_arrow"><i class="fa fa-angle-double-left"></i></div>
                            <div class="pa_title">
                                <span class="pa_date">{{ current_page.nextPage.meta.date|date(config.date_format) }}</span>
                                <br>
                                <span>{{ current_page.nextPage.title }}</span>
                            </div>
                        </a>    
                    {% endif %} 
                    {% if current_page.previousPage %}
                        <a href="/{{ current_page.previousPage.url }}" class="pa_older">
                            <div class="pa_title">
                                <span>{{ current_page.previousPage.title }}</span>
                                <br>
                                <span class="pa_date">{{ current_page.previousPage.meta.date|date(config.date_format) }}</span>
                            </div>
                            <div class="pa_arrow"><i class="fa fa-angle-double-right"></i></div>
                        </a>
                    {% endif %} 
                    </div>
                 
                </article>
            {# END blog posts #}
            {% endif %}


        </div> <!-- END .inner -->
    </section>
    

    {% include 'includes/footer.html' %}


</body>
</html>